<h1>Add a CD</h1>
<p>Add a CD here:</p>
<form action="/cdAdded" method="post">
  <label for="cd-title">Album Title:</label>
  <input name="cd-title" type="text">
  <br><br>
  <label for="cd-artist">Album Artist:</label>
  <input name="cd-artist" type="text">
  <br><br>
  <label for="cd-year">Album Year:</label>
  <input name="cd-year" type="text">
  <br><br>
  <label for="cd-cover">Album Cover URL:</label>
  <input name="cd-cover" type="text">


  <button type="submit">Add CD</button>
</form>
<p><a href="/">Back home</a>
